@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
    --font-body: "Inter", sans-serif;
}

@layer base {
  button {
    cursor: pointer;
    appearance: button;
  }
}
  ::-webkit-scrollbar{
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    transition: background 0.3s
  }

  :hover::-webkit-scrollbar-thumb {
    background: #ef4444;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #dc2626;
  }

